PORT=3000

# Kayıt sürücüsü: file veya mysql
STORAGE_DRIVER=file
FILE_STORAGE_DIR=storage/pages

# STORAGE_DRIVER=mysql ise doldurun
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=grapesjs_editor
MYSQL_USER=root
MYSQL_PASSWORD=
